/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * HamletTheVillageBuildingGame implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hamletthevillagebuildinggame.css
 *
 * HamletTheVillageBuildingGame stylesheet
 *
 */

#hamlet-board {
    --space-width: 97px;
    --space-height: 84px;

    position: relative;
    width: 100%;
    height: calc((var(--maxCy) - var(--minCy) + 1) * var(--space-height));

    translate:
        calc(50% - var(--space-width) * (var(--maxCx) + var(--minCx) + 1) / 4 )
        calc(50% - var(--space-height) * (var(--maxCy) + var(--minCy) + 1) / 2 );
}

.hamlet-board-space {
    --cx: 0;
    --cy: 0;

    position: absolute;
    width: var(--space-width);
    height: var(--space-height);
    left: calc(var(--cx) * var(--space-width) / 2);
    top: calc(var(--cy) * var(--space-height));
    background: red;
    clip-path: polygon(0 100%, 100% 100%, 50% 0);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hamlet-board-space[data-orientation="1"] {
    clip-path: polygon(0 0%, 50% 100%, 100% 0);
}

.hamlet-board-space:after {
    display: block;
    content: attr(data-building);
    color: white;
    font-size: 20px;
}

.hamlet-edge {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.hamlet-edge-x {
    left: calc(3 * var(--space-width) / 4 - 16px);
    top: calc(var(--space-height) / 2);
}

.hamlet-edge-y {
    left: calc(var(--space-width) / 2 - 7px);
    top: calc(var(--space-height) - 16px);
}

.hamlet-edge-z {
    left: calc(var(--space-width) / 4);
    top: calc(var(--space-height) / 2);
}

.hamlet-board-space[data-orientation="1"] .hamlet-edge-x {
    top: calc(var(--space-height) / 2 - 16px);
    left: calc(var(--space-width) / 4);
}

.hamlet-board-space[data-orientation="1"] .hamlet-edge-y {
    left: calc(var(--space-width) / 2 - 7px);
    top: 0;
}

.hamlet-board-space[data-orientation="1"] .hamlet-edge-z {
    top: calc(var(--space-height) / 2 - 16px);
    left: calc(3 * var(--space-width) / 4 - 16px);
}

.hamlet-edge[data-edge="1"] {
    background-color: darkorange;
}

.hamlet-edge[data-edge="2"] {
    background-color: forestgreen;
}

.hamlet-edge[data-edge="3"] {
    background-color: dimgrey;
}

.hamlet-building-church {
    width: calc(var(--space-width) * 4);
    height: calc(var(--space-height) * 4);
}