/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * HamletTheVillageBuildingGame implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hamletthevillagebuildinggame.css
 *
 * HamletTheVillageBuildingGame stylesheet
 *
 */

#hamlet-board {
    --space-width: 97px;
    --space-height: 84px;
    --minCx: 0;
    --minCy: 0;
    --maxCx: 0;
    --maxCy: 0;

    position: relative;
    width: 100%;
    height: calc((var(--maxCy) - var(--minCy) + 1) * var(--space-height));

    translate:
        calc(50% - var(--space-width) * (var(--maxCx) + var(--minCx) + 1) / 4 )
        calc(50% - var(--space-height) * (var(--maxCy) + var(--minCy) + 1) / 2 );

    filter: drop-shadow(0 2px 4px black);
}

.hamlet-board-space {
    --cx: 0;
    --cy: 0;

    position: absolute;
    width: var(--space-width);
    height: var(--space-height);
    left: calc(var(--cx) * var(--space-width) / 2);
    top: calc(var(--cy) * var(--space-height));
    clip-path: polygon(0 100%, 100% 100%, 50% 0);

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.hamlet-building .hamlet-board-space {
    left: calc((var(--cx) + 2 * var(--space-offset)) * var(--space-width) / 2);
}

.hamlet-board-space[data-orientation="1"] {
    clip-path: polygon(0 0%, 50% 100%, 100% 0);
}

.hamlet-board-space:after {
    display: block;
    content: attr(data-building);
    color: white;
    font-size: 20px;
}

.hamlet-edge {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 6px;
}

.hamlet-edge-x {
    left: calc(3 * var(--space-width) / 4 - 16px);
    top: calc(var(--space-height) / 2);
}

.hamlet-edge-y {
    left: calc(var(--space-width) / 2 - 7px);
    top: calc(var(--space-height) - 16px);
}

.hamlet-edge-z {
    left: calc(var(--space-width) / 4);
    top: calc(var(--space-height) / 2);
}

.hamlet-board-space[data-orientation="1"] .hamlet-edge-x {
    top: calc(var(--space-height) / 2 - 16px);
    left: calc(var(--space-width) / 4);
}

.hamlet-board-space[data-orientation="1"] .hamlet-edge-y {
    left: calc(var(--space-width) / 2 - 7px);
    top: 0;
}

.hamlet-board-space[data-orientation="1"] .hamlet-edge-z {
    top: calc(var(--space-height) / 2 - 16px);
    left: calc(3 * var(--space-width) / 4 - 16px);
}

.hamlet-edge[data-edge="1"] {
    background-color: darkorange;
}

.hamlet-edge[data-edge="2"] {
    background-color: forestgreen;
}

.hamlet-edge[data-edge="3"] {
    background-color: dimgrey;
}

.hamlet-building {
    --cx: 0;
    --cy: 0;
    --orientation: 0;
    --sign: 0;
    --sprite-x: 0;
    --sprite-y: 0;
    --x-spaces: 0;
    --y-spaces: 0;
    --space-offset: 0;
    --clip: "";

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: calc((var(--cx) - 2 * var(--space-offset)) * var(--space-width) / 2);
    top: calc((var(--cy) - var(--sign) * 0.34) * var(--space-height));
    width: calc(var(--space-width) * var(--x-spaces));
    height: calc(var(--space-height) * var(--y-spaces));
    transform: rotate(calc(var(--orientation) * 60deg));
    transform-origin:
        calc((2 * var(--space-offset) + 1) * var(--space-width) / 2)
        calc(var(--space-height) - var(--space-width) * 0.29);
    transition:
        transform 250ms ease-out,
        left 250ms ease-out,
        top 250ms ease-out;
    background-image: url("img/buildings.webp");
    background-size:
        calc(var(--space-width) * 16)
        calc(var(--space-height) * 13);
    background-position:
        calc(var(--sprite-x) * var(--space-width) * -1)
        calc(var(--sprite-y) * var(--space-height) * -1);
    clip-path: path(var(--clip));
}

.hamlet-building:hover, .hamlet-building.hamlet-selected {
    filter: contrast(1.5);
}

.hamlet-building#hamlet-church {
    --shape: church;
    --sprite-x: 0.5;
    --sprite-y: 1;
}

.hamlet-low-player .hamlet-building#hamlet-church {
    --shape: church;
    --sprite-x: 5;
    --sprite-y: 0;
}

.hamlet-building#hamlet-market {
    --shape: largeTriangle;
    --sprite-x: 2.5;
    --sprite-y: 8;
}

.hamlet-low-player .hamlet-building#hamlet-market {
    --shape: largeTriangle;
    --sprite-x: 5.5;
    --sprite-y: 8;
}

.hamlet-building#hamlet-shrine {
    --shape: smallTriangle;
    --sprite-x: 3.5;
    --sprite-y: 11;
}

.hamlet-building#hamlet-farm {
    --shape: smallTriangle;
    --sprite-x: 5.5;
    --sprite-y: 11;
}

.hamlet-building#hamlet-trade-post {
    --shape: smallTriangle;
    --sprite-x: 7.5;
    --sprite-y: 11;
}

.hamlet-building#hamlet-master-stonemason {
    --shape: diamond;
    --sprite-x: 14;
    --sprite-y: 2;
}

.hamlet-building#hamlet-warehouse {
    --shape: diamond;
    --sprite-x: 7;
    --sprite-y: 6;
}

.hamlet-building#hamlet-woodcutter {
    --shape: diamond;
    --sprite-x: 8.5;
    --sprite-y: 5;
}

.hamlet-building#hamlet-flour-mill {
    --shape: diamond;
    --sprite-x: 12;
    --sprite-y: 8;
}

.hamlet-building#hamlet-small-woodland {
    --shape: cutDiamond;
    --sprite-x: 4.5;
    --sprite-y: 7;
}

.hamlet-building#hamlet-large-woodland {
    --shape: cutDiamond;
    --sprite-x: 9.5;
    --sprite-y: 3;
}

.hamlet-building#hamlet-windmill {
    --shape: cutDiamond;
    --sprite-x: 10.5;
    --sprite-y: 9;
}

.hamlet-building#hamlet-tavern {
    --shape: flask;
    --sprite-x: 3.5;
    --sprite-y: 5;
}

.hamlet-building#hamlet-dairy-farm {
    --shape: flask;
    --sprite-x: 11;
}

.hamlet-building#hamlet-outpost-1 {
    --shape: flask;
    --sprite-x: 10;
    --sprite-y: 6;
}

.hamlet-building#hamlet-outpost-2 {
    --shape: flask;
    --sprite-x: 10;
    --sprite-y: 6;
}

.hamlet-building#hamlet-stables {
    --shape: flag;
    --sprite-x: 0.5;
    --sprite-y: 8;
}

.hamlet-building#hamlet-cow-conservatory {
    --shape: flag;
    --sprite-x: 11.5;
    --sprite-y: 4;
}

.hamlet-building#hamlet-sawmill {
    --shape: flag;
    --sprite-x: 8.5;
    --sprite-y: 8;
}

.hamlet-building#hamlet-straight-barn {
    --shape: hex;
    --sprite-x: 0.5;
}

.hamlet-building#hamlet-curved-barn {
    --shape: hex;
    --sprite-x: 2;
    --sprite-y: 11;
}

.hamlet-building#hamlet-quarry {
    --shape: hex;
    --sprite-x: 3.5;
}

.hamlet-building#hamlet-forest-pond {
    --shape: hex;
    --sprite-x: 12.5;
}

.hamlet-building#hamlet-mountain-pond {
    --shape: hex;
    --sprite-x: 12.5;
    --sprite-y: 2;
}

.hamlet-building#hamlet-farrier {
    --shape: hex;
    --sprite-x: 8;
    --sprite-y: 3;
}

.hamlet-building#hamlet-small-mountain-range {
    --shape: hex;
    --sprite-x: 11;
    --sprite-y: 3;
}

.hamlet-building#hamlet-large-mountain-range {
    --shape: hex;
    --sprite-x: 6.5;
    --sprite-y: 4;
}

.hamlet-building#hamlet-square {
    --shape: hexHalf;
    --sprite-x: 9.5;
}

.hamlet-building#hamlet-monument {
    --shape: hexHalf;
    --sprite-x: 14;
    --sprite-y: 9;
}

.hamlet-building#hamlet-stonemason {
    --shape: doubleHex;
    --sprite-x: 2;
    --sprite-y: 5;
}

.hamlet-building#hamlet-lumber-mill {
    --shape: doubleHex;
    --sprite-x: 0.5;
    --sprite-y: 4;
}

.hamlet-building#hamlet-town-hall {
    --shape: doubleHex;
    --sprite-x: 5;
    --sprite-y: 3;
}

.hamlet-product {
    --product-size: 20px;

    position: relative;
    width: var(--product-size);
    height: var(--product-size);
    background-color: white;
    border-radius: 5px;
    outline: 2px solid black;
    transform-origin: center;
    transform: rotate(calc(-60deg * var(--orientation)));
}

.hamlet-product::after {
    display: block;
    position: absolute;
    content: attr(data-type);
    width: 100%;
    height: 100%;
    color: black;
    line-height: var(--product-size);
    text-align: center;
}

.hamlet-donkey {
    --donkey-size: 40px;

    width: var(--donkey-size);
    height: var(--donkey-size);
    border-radius: 5px;
    outline: 2px solid black;
    transform-origin: center;
    transform: rotate(calc(-60deg * var(--orientation)));
}

.hamlet-donkey.hamlet-moved {
    opacity: 0.6;
}
